.table__heading_theme_dark {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  padding-top: 60px;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}
